{{ define "main"}}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

<h1>Blog</h1>
<p>Subscribe with <a href="/index.xml" target="_">RSS</a></p>
<section class="blog-post-list">
    {{ range $pages.GroupByDate "2006" }}
    <section class="posts-year">
        <h2>{{ .Key }}</h2>
        <div class="posts">
            {{ range .Pages }}
            <div class="post">
                <a href="{{ .RelPermalink }}">
                    <div class="post-row">
                        <time>{{ .Date.Format "Jan 02" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</section>
{{ end }}
