<nav class="navbar">
    <div class="brand"><a href="/" rel="noreferrer" title="Home" aria-label="Home">{{ .Site.Title }}</a></div>
    <div class="social">
        <a href="/blog" rel="noreferrer" title="Blog" aria-label="Blog">
            {{ partial "svg/social/file.svg" }}
        </a>
        {{ with .Site.Params.social }}
        {{ range . }}
        <a href="{{ .url | safeURL }}" target="_blank" rel="noreferrer" title="{{ .type }}" aria-label="{{ .type }}">
            {{ partial (print "svg/social/" (.type | lower) ".svg") }}
        </a>
        {{ end }}
        {{ end }}
    </div>
</nav>
