:root {
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-paragraph: 'Poppins', sans-serif;
    --font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
    --base-color: #e2e7e9;
    --code-base-color: #1f2022;
    --max-width: 800px;
    --text-color: #313b44;
    --link-color: #364fc7;
}

$breakpoints: (
  'small': 710px,
  'medium': 992px,
  'large': 1200px,
);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'base/grid';
@import 'base/breakpoint';
@import 'base/text';
@import 'base/syntax';
@import "components/main";
@import 'components/nav';
@import 'components/intro';
@import 'components/blog';

html, body {
    box-sizing: border-box;
    font-family: var(--font-family-paragraph);
    font-weight: 500;
}

body {
    background: var(--base-color);
    font-family: var(--font-family-paragraph);
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding: 30px;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
