:root {
    --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-paragraph: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --base-color: #ffffff;
    --code-base-color: #2a2b2d;
    --code-single-base-color: #e2e2e2;
    --max-width: 800px;
    --text-color: #0b090b;
    --link-color: #1433ce;
}

$breakpoints: (
  'small': 710px,
  'medium': 992px,
  'large': 1200px,
);

@import 'base/grid';
@import 'base/breakpoint';
@import 'base/text';
@import 'base/syntax';
@import "components/main";
@import 'components/nav';
@import 'components/footer';
@import 'components/intro';
@import 'components/blog';
@import 'components/single';

html, body {
    box-sizing: border-box;
    font-family: var(--font-family-paragraph);
    font-weight: 500;
}

body {
    background: var(--base-color);
    font-family: var(--font-family-paragraph);
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    margin: 0;
    padding: 30px;
    overflow-x: hidden;
}
